.btn-primary {
    
    color: #fff;
    border-color: #ffffff;
}

.navbar .btn-outline-light:hover {
    color: var(--bs-dark);
  }

.navbar {
    transition: all 0.5s ease-in-out;
  }
  
.navbar-sticky {
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover{
    color : var(--bs-dark);
}

.navbar .btn-outline-light:hover {
    color: var(--bs-dark);
  }

.header{
    background: url('https://picsum.photos/id/870/200/300?grayscale&blur=2') center center no-repeat;
    background-size: cover;
}


@media (max-width : 1000px){
    .navbar {
        background: var(--bs-dark);
      }

    .hero .image-container{
        display: flex;
        justify-content: center;

    }

    .hero .text-container{
        text-align: center;
    }
}

.MyIcon{
   
    margin-right: 10px;
    color : royalblue;
    
}

.title{
    font-size: 45px !important;
}

.normal{
    font-size: 20px !important;
}

.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
