.Bodybg{
   
    
}
.Offcanvasc{
    background-color: rgb(44, 58, 58);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Togglec{
   
}